# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage
coverage
lib-cov

# Dependencies
node_modules

# Build output
dist

# Editor / OS
.DS_Store
*.local
.vscode
.idea

# Vite
*.sw?
